/* color */

$black: #000000;
$white: #ffffff;
$btn-color: #F84646;
$bg-color: #F84646;
$text-color: #F84646;
$h2-color: #2E2E2E;
$p-color: #808080;
$partners-bg: #F4F5F7;
$partners-text: #18191F;
$footer-links: #E6E6E6;