@import "./variables";

@mixin flex($display: flex, $just: space-between, $align: center) {
    display: $display;
    justify-content: $just;
    align-items: $align;
}

@mixin container($width: 1196px, $margin: auto, $font-family: 'Manrope') {
    max-width: $width;
    margin: $margin;
    font-family: $font-family;
}

header {
    padding-top: 0px;
    position: absolute;
    z-index: 1;
    top: 35px;
    right: 122px;
    
    

    .container {
        @include container();

        .header__menu {
            @include flex();
            max-width: 734px;

            nav ul {
                @include flex();
                width: 603px;

                a {
                    font-weight: 700;
                    font-size: 14px;
                    color: $black;
                    text-decoration: none;

                    &:hover {
                        color: $bg-color;
                    }
                }

            }

            .burger-menu {
                display: none;
            }

            button {
                background-color: $btn-color;
                padding: 10px 20px;
                border: 1px solid $btn-color;
                border-radius: 5px;
                color: $white;
                font-weight: 700;
                font-size: 14px;
                cursor: pointer;
                margin-left: 40px;

                &:hover {
                    background-color: $white;
                    border: 1px solid $white;
                    color: $bg-color;
                    transition: 0.5s;
                }
            }
        }
    }
}

.first-page {
    background: url(../images/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 200px 0 148px;
    position: relative;


    .container {
        @include container();

        .first-page__content {
            max-width: 665px;
            

            h1 {
                font-weight: 800;
                font-size: 64px;
                color: $black;
                line-height: 82px;
            }

            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 36px;
                letter-spacing: 0.2px;
                color: $black;
                margin: 20px 0 50px;
            }

            form {
                div {
                    display: flex;
                    justify-content: space-between;
                    width: 507px;
                    min-height: 73px;
                    border: 1px solid $white;
                    border-radius: 8px;
                    background-color: $white;
                    padding: 6px 6px 6px 32px;
                }
                
                input {
                    vertical-align: middle; 
                    // padding: 11px 10px 9px;
                    border: none;
                    transition: 0.5ms;
                    font-weight: 400;
                    font-size: 16px;                        
                    letter-spacing: 0.2px;
                    color: rgba(0, 0, 0, 0.4);
                }

                .search-btn {
                    width: 136px;
                    height: 61px;
                    // padding: 13px 38px 12px 37px;
                    background-color: $btn-color;
                   
                    border-radius: 8px;
                    border: none;
                    cursor: pointer;
                    vertical-align: middle;
                    color: $white;
                }
                
                input:focus {
                    outline: none;
                    border: none;
                }
                
                input:focus::placeholder {
                    opacity: 0;
                }
            }
        }
    }

}

.second-page {
    padding: 120px 0 140px;

    .container {
        @include container();
        
        .second-page__content {

            .second-page__text {
                @include flex($just: center);
                flex-direction: column;
                margin: auto;
                max-width: 994px;
                // min-width: 594px;

                h2 {
                    font-weight: 800;
                    font-size: 36px;
                    line-height: 49px;
                    text-align: center;
                    color: $black;
                }

                p {
                    font-size: 24px;
                    line-height: 40px;
                    text-align: center;
                    letter-spacing: 0.2px;
                    color: $black;
                    margin: 30px 0 90px;
                }
            }

            .second-page__cards {
                @include flex($just:center);
                flex-wrap: wrap;
                gap: 83px;
                

                .cards__first {
                    width: 298px;
                    @include flex($just: center);
                    flex-direction: column;

                    img {
                        &:hover {
                            scale: (1.1);
                            transition: 0.3s;
                        }
                    }


                    h3 {
                        font-style: normal;
                        font-weight: 800;
                        font-size: 24px;
                        text-align: center;
                        color: $black;
                        margin: 10px 0 10px;
                    }

                    p {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 28px;
                        text-align: center;
                        letter-spacing: 0.2px;
                        color: $black;
                    }
                }

                .cards {
                    width: 316px;
                    @include flex($just: center);
                    flex-direction: column;

                    img {
                        &:hover {
                            scale: (1.1);
                            transition: 0.3s;
                        }
                    }

                    h3 {
                        font-style: normal;
                        font-weight: 800;
                        font-size: 24px;
                        text-align: center;
                        color: $black;
                        margin: 10px 0 10px;
                    }

                    p {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 28px;
                        text-align: center;
                        letter-spacing: 0.2px;
                        color: $black;
                    }
                }
            }
        }
    }
}

.test {
    background-color: $bg-color;
    width: 100%;
    padding: 68px 0 78px;

    .container {
        @include container();

        .test__text {
            @include flex($just: center);
            flex-direction: column;

            h2 {
                font-weight: 800;
                font-size: 48px;
                line-height: 64px;
                text-align: center;
                font-feature-settings: 'liga' off;
                color: #FFFFFF;
            }

            p {
                font-weight: 400;
                font-size: 18px;
                text-align: center;
                font-feature-settings: 'liga' off;
                color: #FFFFFF;
                line-height: 32px;
                margin-top: 8px;
            }
        }

        .test__blocks {
            @include flex();
            flex-wrap: wrap;
            max-width: 1088px;
            margin: 64px auto 0;

            p {
                font-weight: 700;
                font-size: 18px;
                line-height: 31px;
                font-feature-settings: 'liga' off;
                color: $white;
            }
            .test__inner__p {
                font-weight: 700;
                font-size: 18px;
                line-height: 31px;
                font-feature-settings: 'liga' off;
                color: $white;
                width: 199px;
            }

        }
    }
}

.img-boxes {
    padding: 160px 0;

    .container {
        @include container();

        .img-box__content {
            @include flex();
            flex-wrap: wrap;
            

            .img-box__text {
                max-width: 608px;

                h2 {
                    font-weight: 700;
                    line-height: 76px;
                    font-size: 64px;
                    color: $h2-color;
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 32px;
                    color: $p-color;
                    width: 523px;
                    margin: 40px 0 80px;
                }

                .img-box__btn {
                    width: 44px;
                    height: 24px;
                    padding: 12px 58px;
                    background-color: $btn-color;
                    border-radius: 8px;
                    color: $white;
                    font-size: 14px;
                    text-decoration: none;

                    &:hover {
                        background-color: $btn-color2;
                        color: $white;
                        transition: 0.5s;
                    }
                }

                
            }

        }

        .img-box__content__second {
            @include flex();
            flex-wrap: wrap;
            margin-top: 120px;

            .img-box__text__second {
                max-width: 548px;

                h2 {
                    font-weight: 700;
                    line-height: 76px;
                    font-size: 64px;
                    color: $h2-color;
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 32px;
                    color: $p-color;
                    width: 523px;
                    margin: 40px 0 80px;
                }

                .img-box__btn {
                    width: 44px;
                    height: 24px;
                    padding: 12px 58px;
                    background-color: $btn-color;
                    border-radius: 8px;
                    color: $white;
                    font-size: 14px;
                    text-decoration: none;

                    &:hover {
                        background-color: $btn-color2;
                        color: $white;
                        transition: 0.5s;
                    }
                }

                
            }
        }
    }
}

.partners {
    background-color: $partners-bg;
    padding: 59px 0;
    display: flex;
    justify-content: center;

    .container {
        @include container();

        .partners__text {
            @include flex($just: center);
            flex-direction: column;
            // margin: auto;

            h1 {
                font-weight: 800;
                font-size: 48px;
                line-height: 64px;    
                text-align: center;
                color: $partners-text;
            }

            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 32px;
                text-align: center;
                color: $partners-text;
                margin-top: 5px;
            }
        }

        .partners-box {
            max-width: 946px;
            display: grid;
            gap: 24px;
            grid-template-rows: repeat(6, 43px);
            margin-top: 48px;
            
            .partners__card__first {
                background-color: $white;
                width: 170px;
                height: 96px;                    
                border-radius: 16px;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-column: 1 / 2;
                grid-row: 3 / 5;
            }

            .partners__card__second {
                background-color: $white;
                width: 170px;
                height: 96px;                    
                border-radius: 16px;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-column: 2 / 3;
                grid-row: 2 / 4;
            }

            .partners__card__third {
                background-color: $white;
                width: 170px;
                height: 96px;                    
                border-radius: 16px;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-column: 2 / 3;
                grid-row: 4 / 6;
            }

            .partners__card__forth {
                background-color: $white;
                width: 170px;
                height: 96px;                    
                border-radius: 16px;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-column: 3 / 4;
                grid-row: 1 / 3;
            }

            .partners__card__fifth {
                background-color: $white;
                width: 170px;
                height: 96px;                    
                border-radius: 16px;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-column: 3 / 4;
                grid-row: 3 / 5;
            }

            .partners__card__sixth {
                background-color: $white;
                width: 170px;
                height: 96px;                    
                border-radius: 16px;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-column: 3 / 4;
                grid-row: 5 / 7;

                a {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 32px;
                    color: $text-color;                        
                    text-decoration: none;
                    display: inline-block;
                    vertical-align: middle;
                        
                    &::after {
                        content: url(../icons/red-arrow.svg);
                        margin-left: 10px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }

            .partners__card__seventh {
                background-color: $white;
                width: 170px;
                height: 96px;                    
                border-radius: 16px;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-column: 4 / 5;
                grid-row: 2 / 4;
            }

            .partners__card__eighth{
                background-color: $white;
                width: 170px;
                height: 96px;                    
                border-radius: 16px;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-column: 4 / 5;
                grid-row: 4 / 6;
            }

            .partners__card__ninth {
                background-color: $white;
                width: 170px;
                height: 96px;                    
                border-radius: 16px;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-column: 5 / 6;
                grid-row: 3 / 5;
            }
            


        }
    }
}

.contacts {
    padding: 160px 0;
    .container {
        @include container();

        .contacts__content {
            @include flex($just: center);
            flex-direction: column;

            h1 {
                font-weight: 800;
                font-size: 48px;
                line-height: 32px;
                margin: 10px 0 20px;
            }

            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 32px;
            }

            a {
                margin-top: 30px;
                padding: 25px 40px;
                border-radius: 8px;
                color: $white;
                background-color: $btn-color;
                font-weight: 600;
                font-size: 24px;
                line-height: 20px;
                text-decoration: none;

                &:hover {
                    background-color: $btn-color2;
                    color: $white;
                    transition: 0.5s;
                }
            }
        }
    }
}

footer {
    padding: 80px 0 70px;
    background-color: $bg-color;

    .container {
        @include container();

        .footer__content {
            @include flex($align: start);

            .footer__columns {
                display: flex;
                flex-direction: column;

                h3 {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: $white;
                    margin-bottom: 24px;
                }

                a {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 32px;
                    color: $footer-links;text-decoration: none;
                    margin-bottom: 24px;

                    &:hover {
                        color: $partners-bg;
                        transition: 0.3s;
                    }
                }
            }
        }

        .footer__rights {
            @include flex();
            margin-top: 26px;

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: $white;
            }

            .footer__socials {
                width: 224px;
                @include flex();

                a {
                    &:hover {
                        scale: (1.2);
                        transition: 0.3s;
                    }
                }
            }
        }
    }
}

@media  screen and (max-width: 1245px) {
    header {
        .container {
            width: 95%;
        }
    }

    .first-page {
        .container {
            width: 95%;
        }
    }

    .second-page {
        .container {
            width: 95%;
        }
    }

    .test {
        .container {
            width: 95%;
        }
    }

    .img-boxes {
        .container {
            width: 95%;
        }
    }

    .partners {
        .container {
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .contacts {
        .container {
            width: 95%;
        }
    }

    footer {
        .container {
            width: 95%;
        }
    }
}


@media  screen and (max-width: 1171px) {

    .img-boxes {
        .container {
            max-width: 95%;

            .img-box__content {
                .img-box__text {
                    max-width: 518px;

                    h2 {
                        font-size: 58px;
                        line-height: 59px;
                    }

                    p {
                        max-width: 428px;
                        line-height: 28px;
                        margin: 20px 0 46px;
                    }
                }

                .img-box__image {
                    width: 41%;
                    img {
                        width: 100%;
                    }
                }
            }

            .img-box__content__second {

                .img-box__image__second {
                    width: 41%;
                    img {
                        width: 100%;
                    }
                }

                .img-box__text__second {
                    max-width: 428px;

                    h2 {
                        font-size: 58px;
                        line-height: 59px;
                    }

                    p {
                        max-width: 428px;
                        line-height: 28px;
                        margin: 20px 0 46px;
                    }
                }
            }
        }
    }

}

@media  screen and (max-width: 1055px) {
    .second-page {
        .container {
            .second-page__content {
                .second-page__text {
                    max-width: 852px;
                    // min-width: 594px;
                    p {
                        max-width: 852px;
                        // min-width: 594px;
                    }
                }
            }
        }
    }
}

@media  screen and (max-width: 1024px) {
    .first-page {
        .container {
            .first-page__content {
                h1 {
                    font-size: 56px;
                    line-height: 74px;
                }

                form {
                    div {
                        width: 422px;
                    }
                }
            }

        }
    }
}

@media  screen and (max-width: 1015px) {
    .partners {
        .container {
            .partners-box {
                @include flex();
                flex-wrap: wrap;
                max-width: 600px;
                justify-content: center;
            }
        }
    }
}

@media  screen and (max-width: 926px) {

    header {
        right: 0px;
        width: 100%;

        .container {
            

            .header__menu {
                max-width: 879.7px;
                
                nav {
                    display: none;
                }
                .burger-menu {
                    display: flex;
                    
                }
            }
        }
    }

    .test {
        .container {
            .test__blocks {
                max-width: 540px;
                gap: 20px;

                .first-arrow {
                    padding-left: 47px;
                }

                .middle-arrow {
                    display: none;
                }
            }
        }
    }
    .img-boxes {
        .container {
            max-width: 95%;

            .img-box__content {
                .img-box__text {
                    max-width: 418px;

                    h2 {
                        font-size: 46px;
                        line-height: 50px;
                    }

                    p {
                        max-width: 388px;
                        line-height: 20px;
                        margin: 20px 0 46px;
                    }
                }

                .img-box__image {
                    width: 41%;
                    img {
                        width: 100%;
                    }
                }
            }

            .img-box__content__second {

                .img-box__image__second {
                    width: 41%;
                    img {
                        width: 100%;
                    }
                }

                .img-box__text__second {
                    max-width: 428px;

                    h2 {
                        font-size: 46px;
                        line-height: 50px;
                    }

                    p {
                        max-width: 428px;
                        line-height: 20px;
                        margin: 20px 0 46px;
                    }
                }
            }
        }
    }
} 

@media  screen and (max-width: 848px) {
    .img-boxes {
        .container {
            max-width: 95%;

            .img-box__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                .img-box__text {
                    max-width: 418px;
                    text-align: center;

                    h2 {
                        font-size: 46px;
                        line-height: 50px;
                    }

                    p {
                        max-width: 388px;
                        line-height: 28px;
                        margin: 20px 0 46px;
                    }
                }

                .img-box__image {
                    margin-top: 50px;
                    width: 55%;
                    img {
                        width: 100%;
                    }
                }
            }

            .img-box__content__second {
                display: flex;
                flex-direction: column;
                align-items: center;
                .img-box__image__second {
                    margin-bottom: 50px;
                    width: 55%;
                    img {
                        width: 100%;
                    }
                }

                .img-box__text__second {
                    text-align: center;
                    max-width: 428px;

                    h2 {
                        font-size: 46px;
                        line-height: 50px;
                    }

                    p {
                        max-width: 428px;
                        line-height: 28px;
                        margin: 20px 0 46px;
                    }
                }
            }
        }
    }

    footer {
        .container {
            .footer__content {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
                justify-content: space-between;

                .footer__columns {
                    width: 240px;
                }
            }
        }
    }
}

@media screen and (max-width: 625px) {
    header {
        z-index: 3;
    }
    .first-page {
        background-position: bottom 0 right 35%;
        padding: 137px 0 84px;
        position: relative;
        

        .veil {
            background: radial-gradient(118.67% 101.66% at 141.47% 78.12%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
            width: 100%;
            height: 100%;
            top: 0;
            position: absolute;
            z-index: 1;
        }

        .container {
            
            .first-page__content {
                position: relative;
                z-index: 2;
                text-align: center;
                
                
                h1 {
                    font-size: 42px;
                    line-height: 58px;
                }

                form {
                    @include flex($just:center);
                    flex-direction: column;
                    
                    div {
                        width: 335px;
                    }
                }
            }

        }
    }

    .second-page {
        padding: 60px 0 90px;
        .container {
            .second-page__content {
                .second-page__text {
                    max-width: 852px;
                    // min-width: 594px;
                    text-align: center;

                    h2 {
                        font-size: 24px;
                    }
                    p {
                        // width: 334px;
                        font-size: 12px;
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .test {
        .container {
            .test__text {
                h2 {
                    font-size: 36px;
                    line-height: 47px;
                }

                p {
                    font-size: 14px;
                }
            }
            .test__blocks {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                gap: 40px;

                .first-arrow {
                    padding-left: 0;
                    transform: rotate(90deg);
                }

                .middle-arrow {
                    display: flex;
                    transform: rotate(90deg);
                }

                img {
                    transform: rotate(90deg);
                }
            }
        }
    }

    .img-boxes {
        padding: 90px 0;
        .container {
            max-width: 95%;

            .img-box__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                .img-box__text {
                    order: 2;
                    max-width: 336px;
                    text-align: center;

                    h2 {
                        font-size: 36px;
                        line-height: 41px;
                    }

                    p {
                        max-width: 100%;
                        line-height: 28px;
                        font-size: 14px;
                        margin: 20px 0 46px;
                    }

                    .img-box__btn {
                        display: block;
                        width: 338px;
                        height: 48px;
                        line-height: 24px;
                    }
                }

                .img-box__image {
                    margin-bottom: 30px;
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }

            .img-box__content__second {
                display: flex;
                flex-direction: column;
                align-items: center;
                .img-box__image__second {
                    margin-bottom: 30px;
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }

                .img-box__text__second {
                    max-width: 336px;
                    text-align: center;

                    h2 {
                        font-size: 36px;
                        line-height: 42px;
                    }

                    p {
                        max-width: 100%;
                        line-height: 28px;
                        font-size: 14px;
                        margin: 20px 0 46px;
                    }

                    .img-box__btn {
                        display: block;
                        width: 338px;
                        height: 48px;
                        line-height: 24px;
                    }
                }
            }
        }
    }

    .partners {
        .container {
            .partners__text {
                h1 {
                    font-size: 36px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }

    .contacts {
        padding: 90px 0 82px;
        .container {
            .contacts__content {
                text-align: center;
                img {
                    width: 15%;
                }

                h1 {
                    font-size: 36px;
                }

                p {
                    width: 335px;
                    font-size: 14px;
                    line-height: 25px;
                }

                a {
                    padding: 11px 20px;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }

    footer {
        .container {
            .footer__content {
                display: flex;
                flex-wrap: wrap;
                gap: 49px;
                justify-content: space-between;

                .footer__columns {
                    width: 240px;
                }
            }

            .footer__rights {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .rights {
                    order: 2;
                    margin-top: 62px;
                }
            }
        }
    }
}

@media screen and (max-width: 384px ){
    header {
        .container {
            width: 90%;
        }
    }
    .first-page {
        .container {
            width: 90%;
        }
    }
    .second-page {
        .container {
            width: 90%;
        }
    }
    .test {
        .container {
            width: 90%;
            .test__blocks {
                .test__inner__p {
                    width: 183px;
                }
            }
        }
    }
    .img-boxes {
        .container {
            width: 90%;
        }
    }
    .partners {
        .container {
            width: 90%;
        }
    }
    .contacts {
        .container {
            width: 90%;
        }
    }
    footer {
        .container {
            width: 90%;
        }
    }
    .partners {
        .container {
            width: 90%;
            .partners-box {
                .disabled {
                    display: none;
                }
            }
        }
    }
}
