.container {
    max-width: 1200px;
    margin: auto;
}

.flex-wrapper {
    display: flex;
    height: 100vh;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.news__first {
    width: calc(33% - 10px);
    flex-basis: 300px;
    height: 200px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.128), rgba(0, 0, 0, 0.817)), url("../images/pokemon.jpg"); */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./images/cats.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 20px;
    overflow: hidden; 
    transition: .5s;
}

.news__second {
    width: calc(33% - 10px);
    flex-basis: 300px;
    height: 200px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.128), rgba(0, 0, 0, 0.817)), url("../images/pokemon.jpg"); */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./images/kitchen.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 20px;
    overflow: hidden; 
    transition: .5s;
}

.news__third {
    width: calc(33% - 10px);
    flex-basis: 300px;
    height: 200px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.128), rgba(0, 0, 0, 0.817)), url("../images/pokemon.jpg"); */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./images/wood.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 20px;
    overflow: hidden; 
    transition: .5s;
}

.news__first:hover {
    /* background-size: 140% auto; */
    background-size: auto 108%;
    /* transform: scale(1.1) */
}

.news__second:hover {
    /* background-size: 140% auto; */
    background-size: auto 118%;
    /* transform: scale(1.1) */
}

.news__third:hover {
    /* background-size: 140% auto; */
    background-size: auto 108%;
    /* transform: scale(1.1) */
}

.shadow {
    opacity: 0;
    width: 350px;
    height: 250px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.shadow:hover {
    opacity: 0.5;
    background-color: #000000;
    transition: 0.4s;
}

.news-text {
    position: absolute;
    bottom: -45px;
    transition: .5s;
    z-index: 2;
}

.news-text p {
    font-family: Helvetica;
    color: #000000;
    background-color: aliceblue;
    padding: 5px;
}

.news__first:hover .news-text  {
    bottom: 0;
}

.news__second:hover .news-text  {
    bottom: 0;
}

.news__third:hover .news-text  {
    bottom: 0;
}