.container {
    max-width: 1200px;
    margin: auto;
}

.flex-wrapper {
    display: flex;
    height: 100vh;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.news__card{
    width: calc(33% - 10px);
    flex-basis: 300px;
    height: 200px;
    background-image: url("./images/cats.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 20px;

    transition: .5s;
}

.news__card:nth-child(2){
    background-image: url("./images/kitchenn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;

}

.news__card:nth-child(3){
    background-image: url("./images/wood.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.shadow {
    opacity: 0;
    width: 350px;
    height: 250px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.news-text {
    position: absolute;
    bottom: -45px;
    transition: .5s;
    z-index: 2;
}

.news-text p {
    font-family: Helvetica;
    color: #000000;
    background-color: aliceblue;
    padding: 5px;
}

/* hover effects */
.news__card:hover .shadow{
    opacity: 0.5;
    background-color: #000000;
    transition: 0.4s;
}

.news__card:hover .news-text  {
    bottom: 0;
}

.news__card:hover{
    background-size: auto 108%;

}

/* .news__card:nth-child(2):hover{
    background-size: auto 115%;
} */
