/* colors */

$round: #458FF6;
$footer-logo: #5B9BF3;
$white: #ffffff;
$logo-color: #233348;
$menu-color: #1F1534;

$heading: #000000;
$line: #000000;
$p-color: #7D7987;
$read-more: #4089ED;