/* color */
header {
  padding-top: 0px;
  position: absolute;
  z-index: 1;
  top: 35px;
  right: 122px;
}
header .container {
  max-width: 1196px;
  margin: auto;
  font-family: "Manrope";
}
header .container .header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 734px;
}
header .container .header__menu nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 603px;
}
header .container .header__menu nav ul a {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}
header .container .header__menu nav ul a:hover {
  color: #F84646;
}
header .container .header__menu .burger-menu {
  display: none;
}
header .container .header__menu button {
  background-color: #F84646;
  padding: 10px 20px;
  border: 1px solid #F84646;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  margin-left: 40px;
}
header .container .header__menu button:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #F84646;
  transition: 0.5s;
}

.first-page {
  background: url(../images/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 200px 0 148px;
  position: relative;
}
.first-page .container {
  max-width: 1196px;
  margin: auto;
  font-family: "Manrope";
}
.first-page .container .first-page__content {
  max-width: 665px;
}
.first-page .container .first-page__content h1 {
  font-weight: 800;
  font-size: 64px;
  color: #000000;
  line-height: 82px;
}
.first-page .container .first-page__content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.2px;
  color: #000000;
  margin: 20px 0 50px;
}
.first-page .container .first-page__content form div {
  display: flex;
  justify-content: space-between;
  width: 507px;
  min-height: 73px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 6px 6px 6px 32px;
}
.first-page .container .first-page__content form input {
  vertical-align: middle;
  border: none;
  transition: 0.5ms;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.2px;
  color: rgba(0, 0, 0, 0.4);
}
.first-page .container .first-page__content form .search-btn {
  width: 136px;
  height: 61px;
  background-color: #F84646;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  color: #ffffff;
}
.first-page .container .first-page__content form input:focus {
  outline: none;
  border: none;
}
.first-page .container .first-page__content form input:focus::-moz-placeholder {
  opacity: 0;
}
.first-page .container .first-page__content form input:focus::placeholder {
  opacity: 0;
}

.second-page {
  padding: 120px 0 140px;
}
.second-page .container {
  max-width: 1196px;
  margin: auto;
  font-family: "Manrope";
}
.second-page .container .second-page__content .second-page__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  max-width: 994px;
}
.second-page .container .second-page__content .second-page__text h2 {
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #000000;
}
.second-page .container .second-page__content .second-page__text p {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
  margin: 30px 0 90px;
}
.second-page .container .second-page__content .second-page__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 83px;
}
.second-page .container .second-page__content .second-page__cards .cards__first {
  width: 298px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.second-page .container .second-page__content .second-page__cards .cards__first img:hover {
  scale: 1.1;
  transition: 0.3s;
}
.second-page .container .second-page__content .second-page__cards .cards__first h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  color: #000000;
  margin: 10px 0 10px;
}
.second-page .container .second-page__content .second-page__cards .cards__first p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
}
.second-page .container .second-page__content .second-page__cards .cards {
  width: 316px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.second-page .container .second-page__content .second-page__cards .cards img:hover {
  scale: 1.1;
  transition: 0.3s;
}
.second-page .container .second-page__content .second-page__cards .cards h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  color: #000000;
  margin: 10px 0 10px;
}
.second-page .container .second-page__content .second-page__cards .cards p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
}

.test {
  background-color: #F84646;
  width: 100%;
  padding: 68px 0 78px;
}
.test .container {
  max-width: 1196px;
  margin: auto;
  font-family: "Manrope";
}
.test .container .test__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.test .container .test__text h2 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #FFFFFF;
}
.test .container .test__text p {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  font-feature-settings: "liga" off;
  color: #FFFFFF;
  line-height: 32px;
  margin-top: 8px;
}
.test .container .test__blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1088px;
  margin: 64px auto 0;
}
.test .container .test__blocks p {
  font-weight: 700;
  font-size: 18px;
  line-height: 31px;
  font-feature-settings: "liga" off;
  color: #ffffff;
}

.img-boxes {
  padding: 160px 0;
}
.img-boxes .container {
  max-width: 1196px;
  margin: auto;
  font-family: "Manrope";
}
.img-boxes .container .img-box__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.img-boxes .container .img-box__content .img-box__text {
  max-width: 608px;
}
.img-boxes .container .img-box__content .img-box__text h2 {
  font-weight: 700;
  line-height: 76px;
  font-size: 64px;
  color: #2E2E2E;
}
.img-boxes .container .img-box__content .img-box__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #808080;
  width: 523px;
  margin: 40px 0 80px;
}
.img-boxes .container .img-box__content .img-box__text .img-box__btn {
  width: 44px;
  height: 24px;
  padding: 12px 58px;
  background-color: #F84646;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}
.img-boxes .container .img-box__content .img-box__text .img-box__btn:hover {
  background-color: #ff3030;
  color: #ffffff;
  transition: 0.5s;
}
.img-boxes .container .img-box__content__second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 120px;
}
.img-boxes .container .img-box__content__second .img-box__text__second {
  max-width: 548px;
}
.img-boxes .container .img-box__content__second .img-box__text__second h2 {
  font-weight: 700;
  line-height: 76px;
  font-size: 64px;
  color: #2E2E2E;
}
.img-boxes .container .img-box__content__second .img-box__text__second p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #808080;
  width: 523px;
  margin: 40px 0 80px;
}
.img-boxes .container .img-box__content__second .img-box__text__second .img-box__btn {
  width: 44px;
  height: 24px;
  padding: 12px 58px;
  background-color: #F84646;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}
.img-boxes .container .img-box__content__second .img-box__text__second .img-box__btn:hover {
  background-color: #ff3030;
  color: #ffffff;
  transition: 0.5s;
}

.partners {
  background-color: #F4F5F7;
  padding: 59px 0;
  display: flex;
  justify-content: center;
}
.partners .container {
  max-width: 1196px;
  margin: auto;
  font-family: "Manrope";
}
.partners .container .partners__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.partners .container .partners__text h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #18191F;
}
.partners .container .partners__text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #18191F;
  margin-top: 5px;
}
.partners .container .partners-box {
  max-width: 946px;
  display: grid;
  gap: 24px;
  grid-template-rows: repeat(6, 43px);
  margin-top: 48px;
}
.partners .container .partners-box .partners__card__first {
  background-color: #ffffff;
  width: 170px;
  height: 96px;
  border-radius: 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  grid-row: 3/5;
}
.partners .container .partners-box .partners__card__second {
  background-color: #ffffff;
  width: 170px;
  height: 96px;
  border-radius: 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 2/4;
}
.partners .container .partners-box .partners__card__third {
  background-color: #ffffff;
  width: 170px;
  height: 96px;
  border-radius: 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 4/6;
}
.partners .container .partners-box .partners__card__forth {
  background-color: #ffffff;
  width: 170px;
  height: 96px;
  border-radius: 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 3/4;
  grid-row: 1/3;
}
.partners .container .partners-box .partners__card__fifth {
  background-color: #ffffff;
  width: 170px;
  height: 96px;
  border-radius: 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 3/4;
  grid-row: 3/5;
}
.partners .container .partners-box .partners__card__sixth {
  background-color: #ffffff;
  width: 170px;
  height: 96px;
  border-radius: 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 3/4;
  grid-row: 5/7;
}
.partners .container .partners-box .partners__card__sixth a {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #F84646;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}
.partners .container .partners-box .partners__card__sixth a::after {
  content: url(../icons/red-arrow.svg);
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.partners .container .partners-box .partners__card__seventh {
  background-color: #ffffff;
  width: 170px;
  height: 96px;
  border-radius: 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 4/5;
  grid-row: 2/4;
}
.partners .container .partners-box .partners__card__eighth {
  background-color: #ffffff;
  width: 170px;
  height: 96px;
  border-radius: 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 4/5;
  grid-row: 4/6;
}
.partners .container .partners-box .partners__card__ninth {
  background-color: #ffffff;
  width: 170px;
  height: 96px;
  border-radius: 16px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 5/6;
  grid-row: 3/5;
}

.contacts {
  padding: 160px 0;
}
.contacts .container {
  max-width: 1196px;
  margin: auto;
  font-family: "Manrope";
}
.contacts .container .contacts__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contacts .container .contacts__content h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 32px;
  margin: 10px 0 20px;
}
.contacts .container .contacts__content p {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
.contacts .container .contacts__content a {
  margin-top: 30px;
  padding: 25px 40px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #F84646;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  text-decoration: none;
}
.contacts .container .contacts__content a:hover {
  background-color: #ff3030;
  color: #ffffff;
  transition: 0.5s;
}

footer {
  padding: 80px 0 70px;
  background-color: #F84646;
}
footer .container {
  max-width: 1196px;
  margin: auto;
  font-family: "Manrope";
}
footer .container .footer__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
footer .container .footer__content .footer__columns {
  display: flex;
  flex-direction: column;
}
footer .container .footer__content .footer__columns h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 24px;
}
footer .container .footer__content .footer__columns a {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #E6E6E6;
  text-decoration: none;
  margin-bottom: 24px;
}
footer .container .footer__content .footer__columns a:hover {
  color: #F4F5F7;
  transition: 0.3s;
}
footer .container .footer__rights {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}
footer .container .footer__rights p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}
footer .container .footer__rights .footer__socials {
  width: 224px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .footer__rights .footer__socials a:hover {
  scale: 1.2;
  transition: 0.3s;
}

@media screen and (max-width: 1245px) {
  header .container {
    max-width: 95%;
  }
  .first-page .container {
    max-width: 95%;
  }
  .second-page .container {
    max-width: 95%;
  }
  .test .container {
    max-width: 95%;
  }
  .img-boxes .container {
    max-width: 95%;
  }
  .partners .container {
    max-width: 95%;
  }
  .contacts .container {
    max-width: 95%;
  }
  footer .container {
    max-width: 95%;
  }
}
@media screen and (max-width: 1171px) {
  .img-boxes .container {
    max-width: 95%;
  }
  .img-boxes .container .img-box__content .img-box__text {
    max-width: 518px;
  }
  .img-boxes .container .img-box__content .img-box__text h2 {
    font-size: 58px;
    line-height: 59px;
  }
  .img-boxes .container .img-box__content .img-box__text p {
    max-width: 428px;
    line-height: 28px;
    margin: 20px 0 46px;
  }
  .img-boxes .container .img-box__content .img-box__image {
    width: 41%;
  }
  .img-boxes .container .img-box__content .img-box__image img {
    width: 100%;
  }
  .img-boxes .container .img-box__content__second .img-box__image__second {
    width: 41%;
  }
  .img-boxes .container .img-box__content__second .img-box__image__second img {
    width: 100%;
  }
  .img-boxes .container .img-box__content__second .img-box__text__second {
    max-width: 428px;
  }
  .img-boxes .container .img-box__content__second .img-box__text__second h2 {
    font-size: 58px;
    line-height: 59px;
  }
  .img-boxes .container .img-box__content__second .img-box__text__second p {
    max-width: 428px;
    line-height: 28px;
    margin: 20px 0 46px;
  }
}
@media screen and (max-width: 1055px) {
  .second-page .container .second-page__content .second-page__text {
    max-width: 852px;
  }
  .second-page .container .second-page__content .second-page__text p {
    max-width: 852px;
  }
}
@media screen and (max-width: 1024px) {
  .first-page .container .first-page__content h1 {
    font-size: 56px;
    line-height: 74px;
  }
  .first-page .container .first-page__content form div {
    width: 422px;
  }
}
@media screen and (max-width: 1015px) {
  .partners .container .partners-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
  }
}
@media screen and (max-width: 926px) {
  .test .container .test__blocks {
    max-width: 540px;
    gap: 20px;
  }
  .test .container .test__blocks .first-arrow {
    padding-left: 47px;
  }
  .test .container .test__blocks .middle-arrow {
    display: none;
  }
  .img-boxes .container {
    max-width: 95%;
  }
  .img-boxes .container .img-box__content .img-box__text {
    max-width: 418px;
  }
  .img-boxes .container .img-box__content .img-box__text h2 {
    font-size: 46px;
    line-height: 50px;
  }
  .img-boxes .container .img-box__content .img-box__text p {
    max-width: 388px;
    line-height: 20px;
    margin: 20px 0 46px;
  }
  .img-boxes .container .img-box__content .img-box__image {
    width: 41%;
  }
  .img-boxes .container .img-box__content .img-box__image img {
    width: 100%;
  }
  .img-boxes .container .img-box__content__second .img-box__image__second {
    width: 41%;
  }
  .img-boxes .container .img-box__content__second .img-box__image__second img {
    width: 100%;
  }
  .img-boxes .container .img-box__content__second .img-box__text__second {
    max-width: 428px;
  }
  .img-boxes .container .img-box__content__second .img-box__text__second h2 {
    font-size: 46px;
    line-height: 50px;
  }
  .img-boxes .container .img-box__content__second .img-box__text__second p {
    max-width: 428px;
    line-height: 20px;
    margin: 20px 0 46px;
  }
}
@media screen and (max-width: 926px) {
  header {
    right: 22px;
  }
  header .container .header__menu nav ul {
    display: none;
  }
  header .container .header__menu .burger-menu {
    display: flex;
  }
  header .container .header__menu button {
    display: none;
  }
}
@media screen and (max-width: 848px) {
  .img-boxes .container {
    max-width: 95%;
  }
  .img-boxes .container .img-box__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-boxes .container .img-box__content .img-box__text {
    max-width: 418px;
    text-align: center;
  }
  .img-boxes .container .img-box__content .img-box__text h2 {
    font-size: 46px;
    line-height: 50px;
  }
  .img-boxes .container .img-box__content .img-box__text p {
    max-width: 388px;
    line-height: 28px;
    margin: 20px 0 46px;
  }
  .img-boxes .container .img-box__content .img-box__image {
    margin-top: 50px;
    width: 55%;
  }
  .img-boxes .container .img-box__content .img-box__image img {
    width: 100%;
  }
  .img-boxes .container .img-box__content__second {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-boxes .container .img-box__content__second .img-box__image__second {
    margin-bottom: 50px;
    width: 55%;
  }
  .img-boxes .container .img-box__content__second .img-box__image__second img {
    width: 100%;
  }
  .img-boxes .container .img-box__content__second .img-box__text__second {
    text-align: center;
    max-width: 428px;
  }
  .img-boxes .container .img-box__content__second .img-box__text__second h2 {
    font-size: 46px;
    line-height: 50px;
  }
  .img-boxes .container .img-box__content__second .img-box__text__second p {
    max-width: 428px;
    line-height: 28px;
    margin: 20px 0 46px;
  }
  footer .container .footer__content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
  }
  footer .container .footer__content .footer__columns {
    width: 240px;
  }
}
@media screen and (max-width: 625px) {
  .first-page .container .first-page__content {
    text-align: center;
  }
  .first-page .container .first-page__content h1 {
    font-size: 42px;
    line-height: 58px;
  }
  .first-page .container .first-page__content form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .first-page .container .first-page__content form div {
    width: 335px;
  }
  .second-page .container .second-page__content .second-page__text {
    max-width: 852px;
    text-align: center;
  }
  .second-page .container .second-page__content .second-page__text h2 {
    font-size: 24px;
  }
  .second-page .container .second-page__content .second-page__text p {
    font-size: 12px;
    font-size: 22px;
  }
  .test .container .test__text h2 {
    font-size: 36px;
    line-height: 47px;
  }
  .test .container .test__text p {
    font-size: 14px;
  }
  .test .container .test__blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .test .container .test__blocks .first-arrow {
    padding-left: 0;
    transform: rotate(90deg);
  }
  .test .container .test__blocks .middle-arrow {
    display: flex;
    transform: rotate(90deg);
  }
  .test .container .test__blocks img {
    transform: rotate(90deg);
  }
  .img-boxes {
    padding: 90px 0;
  }
  .img-boxes .container {
    max-width: 95%;
  }
  .img-boxes .container .img-box__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-boxes .container .img-box__content .img-box__text {
    order: 2;
    max-width: 336px;
    text-align: center;
  }
  .img-boxes .container .img-box__content .img-box__text h2 {
    font-size: 36px;
    line-height: 41px;
  }
  .img-boxes .container .img-box__content .img-box__text p {
    max-width: 100%;
    line-height: 28px;
    font-size: 14px;
    margin: 20px 0 46px;
  }
  .img-boxes .container .img-box__content .img-box__text .img-box__btn {
    display: block;
    width: 338px;
    height: 48px;
    line-height: 24px;
  }
  .img-boxes .container .img-box__content .img-box__image {
    margin-bottom: 30px;
    width: 100%;
  }
  .img-boxes .container .img-box__content .img-box__image img {
    width: 100%;
  }
  .img-boxes .container .img-box__content__second {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-boxes .container .img-box__content__second .img-box__image__second {
    margin-bottom: 30px;
    width: 100%;
  }
  .img-boxes .container .img-box__content__second .img-box__image__second img {
    width: 100%;
  }
  .img-boxes .container .img-box__content__second .img-box__text__second {
    max-width: 336px;
    text-align: center;
  }
  .img-boxes .container .img-box__content__second .img-box__text__second h2 {
    font-size: 36px;
    line-height: 42px;
  }
  .img-boxes .container .img-box__content__second .img-box__text__second p {
    max-width: 100%;
    line-height: 28px;
    font-size: 14px;
    margin: 20px 0 46px;
  }
  .img-boxes .container .img-box__content__second .img-box__text__second .img-box__btn {
    display: block;
    width: 338px;
    height: 48px;
    line-height: 24px;
  }
  .partners .container .partners__text h1 {
    font-size: 36px;
  }
  .partners .container .partners__text p {
    font-size: 14px;
  }
  .contacts {
    padding: 90px 0 82px;
  }
  .contacts .container .contacts__content {
    text-align: center;
  }
  .contacts .container .contacts__content img {
    width: 15%;
  }
  .contacts .container .contacts__content h1 {
    font-size: 36px;
  }
  .contacts .container .contacts__content p {
    width: 335px;
    font-size: 14px;
    line-height: 25px;
  }
  .contacts .container .contacts__content a {
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
  }
  footer .container .footer__content {
    display: flex;
    flex-wrap: wrap;
    gap: 49px;
    justify-content: space-between;
  }
  footer .container .footer__content .footer__columns {
    width: 240px;
  }
  footer .container .footer__rights {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .container .footer__rights .rights {
    order: 2;
    margin-top: 62px;
  }
}/*# sourceMappingURL=style.css.map */