* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1146px;
    margin: auto;
}

header {
    background-image: url(../images/sky.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;
}

header h1 {
    color: #003395;
    font-weight: 500;
    font-size: 54px;
}

header p {
    color: #000000;
    font-weight: 700;
    margin-top: 27px;
}

nav {
    background-color: #003395;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding: 27px 62px 26px 0;
}

.left-column {
    display: inline-block;
    max-width: 754px;
    vertical-align: top;
    margin-right: 26px;
}

main {
    padding-top: 56px;
}

main h2 {
    color: #003395;
    font-weight: 700;
    font-size: 27px;
    padding: 13px 0 15px 0;
    border-top: 2px solid #003395;
    border-bottom: 2px solid #003395;
}

.text {
    margin-top: 34px;
}

main p {
    color: #000000;
    font-weight: 400;
    margin-top: 16px;
}

.right-column {
    display: inline-block;
    max-width: 362px;
    vertical-align: top;
}

.box {
    border: 2px solid #003395;
    padding: 19px 19px 26px 19px;
}

.box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #30233D;
}

.box2 {
    border: 2px solid #003395;
    padding: 19px 19px 26px 19px;
    margin-top: 55px;
}

.box h3 {
    color: #ffffff;
    background-color: #24B0FF;
    padding: 14px 17px;
}

.box ul {
    list-style: none;
    line-height: 26px;
    margin-top: 8px;
}

.box2 h3 {
    color: #ffffff;
    background-color: #24B0FF;
    padding: 14px 17px;
}

.box2 ul {
    list-style: none;
    line-height: 26px;
    margin-top: 8px;
}

.box2 ul li a {
    color: #00205F;
    text-decoration-line: underline;
}

footer {
    background: linear-gradient(to bottom, #003395, #00205F);
    padding: 45px 0 83px 0;
    margin-top: 62px;
}

footer p {
    color: #ffffff;
    text-align: right;
}
