h1 {
    color:darkblue;

}

/* h1:hover {
    color: aqua;
} */
header:hover h1 {
    color: aqua;
}
header {
    background-color:cornflowerblue;
}

input:focus {
    outline: none;
    border: 1px red solid;
}

main p:last-child {
    font-weight: bold;
}

h2:last-of-type {
    color: blueviolet;
}

/* .search:last-child  */
h2 {
    text-align: center;
}
h2:after {
    content: '';
    display: block;
    width: 52px;
    height: 2px;
    margin: 20px auto 0;
    background-color: black;
}