body {
    background-color: #F9EBD7;
}
header {
    background-color: brown;
    text-align: center;
    padding: 25px;
}

header img {
    width: 200px;
    display: block;
    margin: auto;
}
main {
    width: 35%;
    margin: auto;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 800;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    background-color: brown;
    padding: 5px;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
a {
    color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    
}
.card {
    border: 2px solid brown;
    border-radius: 10px;
    padding: 18px;
    margin-top: 15px;
}
.card img {
    width: 100px;
}
footer {
    height: 50px;
    margin-top: 30px;
    padding: 20px;
    background-color: brown;
    text-align: center;
    color: white;
}